<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Title}} : Web Weekend Kathmandu 2019</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta property="og:title" content="{{.Title }} : Web Weekend Kathmandu" />
<meta property="og:description" content="wwktm is an effort to gather experts, both national and international, and create an environment for new partnerships, collaborations and learning groups to be formed. We want to create a space that encourages participation and then the dynamics of the group will take over the direction." />
<meta property="og:image" content="https://2018.wwktm.co/img/og.jpg" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body class="innerpages">
<div class="banner">
  <a class="link link--takiri" href="/"> <img src="/img/logo.png" class="logo img-fluid"> 
    <span>21-22 September 2019</span>
  </a>
</div>
<div class="container">
  <div class="box">